loguru
pytz
textract
opencv-python
pytesseract
pdf2image
tika
PyPDF2
PyMuPDF
thumbnail
python-magic
starlette
click
xattr
macos-tags
psutil
loguru
more_itertools
libmagic
xxhash
psycopg2
urllib3
elasticsearch
elasticsearch-dsl
