loguru
pytz
# textract==1.6.1
opencv-python
pytesseract
pdf2image
tika
PyPDF2
PyMuPDF
thumbnail
python-magic
starlette
click
xattr
macos-tags
psutil
loguru
more_itertools
libmagic
xxhash
psycopg2-binary
urllib3
elasticsearch
elasticsearch-dsl
pyyaml
multipledispatch
